<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nieves's profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <!-- partial:index.partial.html -->

  <div id="app">
    <div class="resume container">
      <div class="left col-sm-12 col-md-3">
        <div class="leftTop">
          <div class="figure">
            <div class="photo"></div>
            <h3 class="name">{{profile.name}}</h3>
          </div>
        </div>
        <div class="leftMiddle">
          <div class="boundary">
            <div class="triangle1"></div>
            <div class="triangle2"></div>
          </div>
        </div>
        <div class="leftBottom">
          <div class="personalInfo">
            <h3 class="application">{{profile.application}}</h3>
            <div class="introduction">{{profile.introduction}}</div>
            <div class="contact">
              <div class="mobile"><i class="icon fas fa-phone"></i><span class="content">{{profile.mobile}}</span></div>
              <div class="email"><i class="icon fas fa-envelope"></i><span class="content">{{profile.email}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle col-12 col-md-6" v-show="displayType === 'profile'">
        <h3 class="topic">重點經歷</h3>
        <div class="experiences">
          <div class="experienceCard" v-for="exp in experiences">
            <div class="eventCard" v-for="e in exp">
              <div class="eventTitle desktop row">
                <div class="title col-6 col-sm-8">
                  <h5 class="organization">{{e.organization}}</h5>
                  <h5 class="position">{{e.position}}</h5>
                </div>
                <div class="duration col-6 col-sm-4"><span>{{e.duration.beginYYYY}}</span><span
                    v-if="e.duration.beginMM">/{{e.duration.beginMM.toString().padStart(2,0)}}</span><span
                    v-if="e.duration.endYYYY"> - {{e.duration.endYYYY}}</span><span
                    v-if="e.duration.endMM">/{{e.duration.endMM.toString().padStart(2,0)}}</span></div>
              </div>
              <div class="eventTitle mobile">
                <div class="duration badge-pill badge-success"><span>{{e.duration.beginYYYY}}</span><span
                    v-if="e.duration.beginMM">/{{e.duration.beginMM.toString().padStart(2,0)}}</span><span
                    v-if="e.duration.endYYYY"> - {{e.duration.endYYYY}}</span><span
                    v-if="e.duration.endMM">/{{e.duration.endMM.toString().padStart(2,0)}}</span></div>
                <div class="title">
                  <h5 class="organization">{{e.organization}}</h5>
                  <h5 class="position">{{e.position}}</h5>
                </div>
              </div>
              <div class="description">{{e.description}}</div>
              <ul class="items">
                <li class="item" v-for="i in e.items">{{i.description}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="right col-12 col-sm-3" v-show="displayType === 'profile'">
        <h3 class="topic"> <i class="icon fas fa-language"></i><span>語言能力</span></h3>
        <ul class="languages">
          <li class="language" v-for="lang in skills.language">
            <div class="languageName">{{lang.name}}</div>
            <div class="progressBar">
              <div class="outer">
                <div class="innerBar" :style="{width: 33*lang.level+1 + '%'}">
                  <div class="level">{{levelLookup[lang.level.toString()]}}</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <h3 class="topic"> <i class="icon fas fa-desktop"></i><span>電腦能力</span></h3>
        <ul class="skills">
          <li class="skill computerSkill" v-for="s in skills.computer">{{s.name}}</li>
        </ul>
        <h3 class="topic"> <i class="icon fas fa-certificate"></i><span>專業證書</span></h3>
        <ul class="certificates">
          <li class="certificate" v-for="c in certificates">{{c.name}}</li>
        </ul>
        <div class="illustration"><img src="images/illustration1.svg" @click="switchDisplayType" /></div>
      </div>
      <div class="middleRight col-12 col-md-9" v-show="displayType === 'autobiography'">
        <div class="nav">
          <div class="h3 topic">自傳</div>
        </div>
        <div class="autobiographies">
          <div class="autobiographyCard">
            <div class="page1" v-show="autobiography.displayPage === 1">
              <div class="background">
                <h4 class="title">{{autobiography.background.title}}</h4>
                <section class="content" v-html="autobiography.background.content"></section>
              </div>
              <div class="other" v-for="other in autobiography.others">
                <h4 class="title">{{other.title}}</h4>
                <p class="content" v-html="other.content"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="illustration"><img src="images/illustration2.svg" @click="switchDisplayType" /></div>
      </div>
      <div class="toTop" @click="toTop"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>